@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open+Sans', sans-serif;
  background-color: #0fceeb;
  padding: 0 100px;
}

.title {
  color: #05386b;
  text-align: center;
  font-size: 100px;
  letter-spacing: 3px;
  margin: 2rem;
}

.sub-title {
  color: #0b3259;
  font-size: 30px;  
  margin-left: 4rem;
}

.btn {
  background-color: #05386b;
  border-radius: 10px;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  border: none;
  padding: 5px 30px;
  cursor: pointer;
  color: white;
  font-size: 22px;
  font-family: 'Open+Sans', sans-serif;
  margin-right: 4rem;
}

.btn:hover {
  background-color: #37229c;
}

.get-text-container {
  display: flex;
  justify-content: space-between;
}
.hide {
  display: none;
}
.get-res {
  color: white;
  line-height: 1.6;
  font-size: 18px;
  background-color: #3b2b63;
  border-radius: 15px;
  padding: 2rem;
  margin: 30px;
  font-family: 'Times New Roman', Times, serif;
}
