@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Teko', sans-serif;
  background-color: #5cdb95;
  padding: 0 100px;
}

.title {
  color: #05386b;
  text-align: center;
  font-size: 100px;
  letter-spacing: 3px;
}

.sub-title {
  color: #05386b;
  font-size: 30px;
}

.btn {
  background-color: #05386b;
  border-radius: 10px;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  border: none;
  padding: 5px 30px;
  cursor: pointer;
  color: white;
  font-size: 22px;
  font-family: 'Teko', sans-serif;
}

.btn:hover {
  background-color: #27ac91;
}

.get-text-container {
  display: flex;
  justify-content: space-evenly;
}

.get-res {
  color: white;
  line-height: 1.6;
  font-size: 18px;
  background-color: #4d8161;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 30px;
  font-family: 'Times New Roman', Times, serif;
}
