body{
    background-color: antiquewhite;
}

.p-tag{
    font-size: 50px;
    color: red;
}

.h-tag{
    font-size: 25px;
    color: aqua;
}

.a-tag{
    font-size: 50px;
}

.img-container{
    width: fit-content;
    margin: 20px auto;
}

.img-tag{
    width: 400px;
}

table{
    border-collapse: collapse;
    margin: 10px;
    width: 80%;
    margin: 10px auto;
}

td, th{
    border: 1px solid black;
    padding: 4px;
}